// doc: https://sass-lang.com/documentation/at-rules/function

// ---------------------------------------
// include
// ---------------------------------------
@use 'zSampleConst' with (
  $arriereplan: #222
);

@use 'zSampleConst2' as CC;

// ---------------------------------------
// regroupement de proprietes
// ---------------------------------------
nav {
  ul {
    font-family: zSampleConst.$font-stack;
    padding-top: CC.$toto;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

// ---------------------------------------
// fonction
// ---------------------------------------
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
.box { @include transform(rotate(30deg)); }


// ---------------------------------------
// surcharge
// ---------------------------------------
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}


// ---------------------------------------
// operations
// ---------------------------------------
article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}


